In [1]:
import sqlite3

# 1. Connect to the SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('sales_data.db')
cursor = conn.cursor()

# 2. Create 'sales' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL
)
''')

# 3. Insert sample sales data
sample_data = [
    ('Laptop', 3, 800.00),
    ('Smartphone', 5, 400.00),
    ('Tablet', 2, 300.00),
    ('Laptop', 2, 800.00),
    ('Smartphone', 3, 400.00),
    ('Tablet', 4, 300.00),
]

cursor.executemany('INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)', sample_data)

# 4. Save (commit) changes and close the connection
conn.commit()
conn.close()

print("✅ Database created and sample data inserted.")

✅ Database created and sample data inserted.